/.vs/

/ObsoleteTX/Release
/ObsoleteTX/Debug
/ProtocolTest/Release
/ProtocolTest/Debug
/read dump/reader/bin
/read dump/reader/obj
/read dump/reader/.vs/
/Blinky/Release
/Blinky/USART_DBG
/ObsoleteTX/USART_DBG
/ProtocolTest/USART_DBG
